# Node modules
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Build output
.next
out
dist

# Logs
*.log
logs
debug.log
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Git
.git
.gitignore

# IDE and Editor files
.vscode/
.idea/
*.iml
*.sw?
.DS_Store

# Docker
Dockerfile
docker-compose.yml
docker-compose.override.yml

# Miscellaneous
*.tgz
*.zip
*.tar